sudo: required
language: node_js
node_js:
 - '4'

env:
 - CXX=g++-4.8
services:
 - msyql
 - redis-server

script: node server.js

after_script: curl -i "test.xiaoan110.com:8083/v1/imeiData/865067021305209"
